.header {
  height: 120px;
  background-image: linear-gradient(0, #333, #262626);
}
.header__navbar {
  display: flex;
  justify-content: space-between;
}

.header__navbar-list {
  list-style: none;
  padding-left: 0;
  margin-top: 4px;
}
.header__navbar-item {
  margin: 0 8px;
  position: relative;
  min-height: 26px;
}
.header__navbar-item--has-QR:hover .header__QR {
  display: block;
}

.header__navbar-item,
.header__navbar-item-link {
  display: inline-block;
  font-size: 1.4rem;
  color: var(--white-color);
  text-decoration: none;
  font-weight: 300;
}
.header__navbar-item:hover,
.header__navbar-icon-link:hover,
.header__navbar-item-link:hover {
  color: rgba(255, 255, 255, 0.7);
  cursor: pointer;
}

.header__navbar-item--strong {
  font-weight: 400;
}
.header__navbar-item--separate::after {
  content: "";
  display: block;
  position: absolute;
  width: 1px;
  height: 14px;
  background-color: white;
  right: -9px;
  top: 20%;
  transform: translateY(-20%);
}
.header__navbar-icon-link {
  color: var(--white-color);
  text-decoration: none;
}
.header__navbar-icon {
  font-size: 1.8rem;
  margin: 0 4px;
}
.header__navbar-tittle--no-pointer {
  cursor: text;
  color: var(--white-color);
}
/* Header QR code */
.header__QR {
  background-color: var(--white-color);
  width: 186px;
  position: absolute;
  left: 0;
  top: 100%;
  padding: 8px;
  border-radius: 2px;
  display: none;
  animation: fadein ease-in 0.3s;
}

.header__QR-img {
  width: 100%;
}
.header__QR-apps {
  display: flex;
}
.header__QR-link:nth-child(1) {
  margin-left: 11px;
}
.header__QR-link:nth-child(2) {
  margin-right: 11px;
}

.header__QR-download-img {
  height: 16px;
}
